<!DOCTYPE html>
<html lang="{{ .Lang }}" {{ if or (eq .Lang "ar") (eq .Lang "fa") }}dir="rtl"{{ end }}>

  <head>
    {{ partial "head-meta.html" . }}

    {{ block "schema-dot-org" . }}
      <!-- schema.org metadata differs for Nodes and Pages -->
    {{ end }}

    <link rel="canonical" href="{{ .Permalink }}">

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ if or (eq .Lang "ar") (eq .Lang "fa") }}
    {{ "<!-- RTL -->" | safeHTML }}
    {{ $styleRtl := resources.Get "css/style.rtl.css" | resources.Fingerprint }}
    <link href="{{ $styleRtl.Permalink }}" rel="stylesheet"{{ if not .Site.Params.disable_sri }} integrity="{{ $styleRtl.Data.Integrity }}" crossorigin="anonymous"{{ end }}>
    {{ else }}
    {{ "<!-- combined, minified CSS -->" | safeHTML }}
    {{ $style := resources.Get "css/style.css" | resources.Fingerprint }}
    <link href="{{ $style.Permalink }}" rel="stylesheet"{{ if not .Site.Params.disable_sri }} integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous"{{ end }}>
    {{ end }}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>
  

  <body lang="{{ .Site.LanguageCode }}">
    <div class="container landing">
  <header class="landing-header">
      <h1 class="landing-title" dir="auto"><a href="{{ .Site.BaseURL | absURL }}" rel="home">{{ .Site.Title | safeHTML }}</a></h1>
  </header>
    {{ partial "social.html" . }}

  <section id="lading-navigation" class="row">
   <a href="{{ .Site.BaseURL | absURL }}words/" rel="home">&#x270F; Words</a>
   <a href="{{ .Site.BaseURL | absURL }}words/" rel="home">About</a>
  </section>

  </div>
  </body>
  

</html>

{{- /* vim: set ts=2 sw=2 et: */}}
